# Build outputs
dist/
dist-ssr/

# Vite cache
.vite/

# Module Federation temp
.__mf__temp/

# Development environment
*.local

# Shell-specific VS Code settings (keep extensions.json)
.vscode/*
!.vscode/extensions.json

# Shell-specific temporary files
.temp/

# No subir node_modules
node_modules/